name: Tests

# Defines environmental variables
env:
  GO_VERSION: '1.22.2'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-13, windows-latest]

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2


    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: "${{ env.GO_VERSION }}"
    - name: Go fmt
      run: go fmt ./...
    - name: Build and Run
      run: |
        go build -o festerize main.go
        ./festerize
    - name: Test with the Go CLI
      run: go test
      env:
        FESTERIZE_USERNAME: ${{ secrets.FESTERIZE_USERNAME }}
        FESTERIZE_PASSWORD: ${{ secrets.FESTERIZE_PASSWORD }}
